{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-9">
        <legend>Adicionar Pessoa</legend>

        {{ form_start(form, {'attr':{'class': 'form-group'} }) }}
        {{ form_widget(form) }}
    <br/>
        <div class="col-md-9">
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-danger" href="{{ path('cms_person_index') }}">Voltar para a Lista</a>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
