{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>Bem Vindo</h1>
            <p>Ao experimento do Dia D da pós de desenvolvimento web da Unipê</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>
{% endblock %}